<!DOCTYPE html>
<html lang="en">
<head>
  <title>Show Dojo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1><%= @dojo.branch%></h1>
<h3>Address: <%= @dojo.street%></h3>
<h3>City: <%= @dojo.city%> &nbsp;&nbsp; State: <%= @dojo.state%> </h3>
<br><br>
<a href="/">Home</a> <a href="/dojos/<%= @dojo.id %>/edit">Edit</a>
</body>